.DS_Store
*.pyc
__pycache__/
.pio
.vscode/
.idea/
.build/
.swiftpm/
DerivedData/
*.xcuserdata
node_modules/
.env
.env.*
/internal-tests
packages/EasyBLE/Sources/EasyBLEAudioCLI/
packages/EasyBLE/Sources/VoiceNoteMac/
